body{
	margin:0px;
	cellpadding:0px;
	background: linear-gradient(to top right, rgb(62, 73, 83), rgb(196, 196, 196));
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;"
	}
	
.a{
	color:black;
	text-decoration:none;
	font-size:20px;
}