	body{
		margin:0px;
		padding:0px;
		background-position:center;
		background-size:cover;
		overflow-x:hidden;
	
		}
	#div1{
		font-size:20px;	
		font-family:arial;
		float:left;
		width:70%;
	}
	#div2{
		margin-right:20px;
		padding:0px;
	}
	#div3{
		height:400px;
		width:1500px;
		display:flex
	}
	#div4{
		margin-left:50px;
		float:left;
	}
	#div5{
		font-size:20px;
		font-family:arial;
	}
	#div6{
		margin:50px;
		padding:0px;
	}
	.a{
		margin:30px;
		margin-left:50px;
		height:50px;
		color: #ffffff;
		background: rgba(0, 0, 0, 0.5);
		border-radius:15px 45px;
		padding:50px
	}
	#a1{
		width:915px;
	}
	#a2{
		width:800px;
		}
	.b{
		margin-left:50px;
		padding:25px;
		float:left;
		line-height:1.6;
		text-align:justify;
		color: #ffffff;
		background: rgba(0, 0, 0, 0.5);
		border-radius:45px 15px;
		padding-left:5px;
	}
	